<!-- Start: Header -->
<header class="navbar navbar-fixed-top navbar-shadow">
    <div class="navbar-branding">
        <a class="navbar-brand" href="">
            <b>{{ adminContext.name }}</b>Admin
        </a>
        <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown menu-merge">
            <a href="layout_sidebar-left-fixed.html#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                <img src="assets/img/avatars/5.jpg" alt="avatar" class="mw30 br64">
                <span class="hidden-xs pl15">{{ app.user.login }}</span>
                <span class="caret caret-tp hidden-xs"></span>
            </a>
            <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                {#<li class="list-group-item">#}
                    {#<a href="layout_sidebar-left-fixed.html#" class="animated animated-short fadeInUp">#}
                        {#<span class="fa fa-envelope"></span> Messages#}
                        {#<span class="label label-warning">2</span>#}
                    {#</a>#}
                {#</li>#}
                {% if routeExist('homepage') %}
                    <li class="list-group-item">
                        <a href="{{ path('homepage') }}" class="" target="_blank">
                            <span class="fa fa-external-link pr5"></span>Go to the Public Section
                        </a>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <a href="{{ path('admin.logout') }}" class="">
                        <span class="fa fa-power-off pr5"></span> Logout </a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<!-- End: Header -->