{% if skipLabel is not defined %}
{{ form_label(form[column], null, { 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }}
{% endif %}
<div class="col-md-8">
    <ul class="list-group attribute-list tags">
        {% for attr in adminContext.activeModule.attributes %}
            {% include 'YCMSBundle:_attributes:' ~ attr.type ~'.html.twig' with { type : attr.type } %}
        {% endfor %}
    </ul>
</div>

<input type="hidden" name="blocksSerialized" id="blocks-serialized" value="">

<div class="btn-group">
    <button type="button" class="btn btn-default">Add attribute</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu add-attribute-handler" role="menu">
        {% for type in adminContext.activeModule.attributeTypes|keys %}
            <li>
                <a href="#" data-type="{{ type }}">{{ adminContext.activeModule.attributeTypes[type] }}</a>
            </li>
        {% endfor %}
    </ul>
</div>