<div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
        <label>
            {{ form_widget(form[column]) }}
            <i class="input-helper"></i>
            {{ info.title }}
        </label>
    </div>
</div>
