{{ form_label(form[column], null, { 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }}
<div class="col-md-8">
    {% if info.descrition is defined %}
        <span class="help-block mt5">
            <i class="fa fa-info"></i>{{ info.description }}
        </span>
    {% endif %}
    {{ form_widget(form[column]) }}
</div>
<script>
    $(document).ready(function() {
        $('#{{ form[column].vars.id }}').datetimepicker({
            pickTime: false,
            format: "YYYY-MM-DD"
        });
    });
</script>