<div class="col-md-offset-2 col-md-8">
    {% set path = attribute(object, column) %}
    {{ path }}
    {% if path is defined %}
        <a href="{{ path }}" target="_blank">view file</a>
    {% else %}
        <small>no file</small>
    {% endif %}
    {#{% if path is defined %}#}
    {#<img src="{{ path | imagine_filter('preview_100') }}"/>#}
    {#{% else %}#}
    {#<small>no file</small>#}
    {#{% endif %}#}
</div>