{% if info.custom is not defined %}
    {% if info.system is defined and info.system %}
        {% do form[column].setRendered %}
    {% else %}
        <div class="form-group">
            {% if info.type in ["boolean", "textarea", "entity", "attributes", "label", "hidden", "image", "checkbox", "html", "wysiwyg"] %}
                {{ include('@YAdmin/_elements/form/_' ~ info.type ~'.html.twig') }}
            {% else %}
                {{ include('@YAdmin/_elements/form/_simple.html.twig') }}
            {% endif %}
        </div>
    {% endif %}
{% endif %}
