<div id="{{ popupId|default('confirm-popup') }}" class="popup-basic admin-form mfp-with-anim mfp-hide">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Do you confirm this action?</span>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-6" style="text-align: center">
                    <button class="btn btn-default light btn-sm w150 js-close-popup">
                        NO
                    </button>
                </div>
                <div class="col-md-6" style="text-align: center">
                    <button class="btn btn-primary light btn-lg w150 js-confirm-action">
                        YES
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>