{% extends "@YAdmin/layout.html.twig" %}

{% block bodyTags %}
    <body class="external-page external-alt sb-l-c sb-r-c">

    <div id="main" class="animated fadeIn">
        <section id="content_wrapper">
            <section id="content">
                <div class="admin-form theme-info mw500" id="login">
                    <div class="row table-layout text-center">
                        <h1>{{ adminContext.name }}</h1>
                    </div>

                    <!-- Login Panel/Form -->
                    <div class="panel mt30 mb25">

                        <form method="post" action="{{ path('admin.login_check') }}" id="contact">
                            <div class="panel-body bg-light p25 pb15">

                                <!-- Username Input -->
                                <div class="section">
                                    <label for="username" class="field-label text-muted fs18 mb10">Username</label>
                                    <label for="username" class="field prepend-icon">
                                        <input type="text" name="_username" id="username" class="gui-input" placeholder="Enter username">
                                        <label for="username" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>

                                <!-- Password Input -->
                                <div class="section">
                                    <label for="username" class="field-label text-muted fs18 mb10">Password</label>
                                    <label for="password" class="field prepend-icon">
                                        <input type="password" name="_password" id="password" class="gui-input" placeholder="Enter password">
                                        <label for="password" class="field-icon">
                                            <i class="fa fa-lock"></i>
                                        </label>
                                    </label>
                                    {% if loginError %}
                                        <p class="text-danger mt5">{{ loginError.messageKey|trans(loginError.messageData) }}</p>
                                    {% endif %}

                                </div>
                            </div>

                            <div class="panel-footer clearfix">
                                <button type="submit" class="button btn-primary mr10 pull-right">Sign In</button>
                                <label class="switch ib switch-primary mt10">
                                    <input type="checkbox" name="remember" id="remember">
                                    <label for="remember" data-on="YES" data-off="NO"></label>
                                    <span>Remember me</span>
                                </label>
                            </div>

                        </form>
                    </div>


                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->


    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- jQuery -->
    <script src="vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

    <!-- Theme Javascript -->
    <script src="assets/js/utility/utility.js"></script>
    <script src="assets/js/main.js"></script>

    <!-- Page Javascript -->
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";

            // Init Theme Core
            Core.init();

        });
    </script>

    <!-- END: PAGE SCRIPTS -->

    </body>

{% endblock %}
