{% extends '@YAdmin/layout.html.twig' %}

{% form_theme form '@YAdmin/Form/theme.html.twig' %}

{% block content %}

    <div class="row">
        <div class="panel">
                {{ form_start(form) }}

                    <div class="panel-heading">
                        <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                            <span class="panel-title">New Admin User</span>
                        </ul>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content pn br-n">
                            {{ form_rest(form) }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="{{ path('admin.dictionary.default', {module: 'admin-users'}) }}" class="btn btn-rounded btn-default btn-block button-back-handler pull-right" style="max-width: 100px;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </div>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-rounded btn-primary btn-block light" style="max-width: 130px;">
                                    <i class="fa fa-save"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>

                {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
