{{ include('@YAdmin/_fragments/formFields.html.twig') }}

<hr class="short"/>
<h4>Attributes</h4>
<br/>

{{ include('@YAdmin/_fragments/attributedFormFields.html.twig', {attributes: object.attributes}) }}
{#{{ include('@YAdmin/_fragments/subviewsFormFields.html.twig', {subviews: object.subviews}) }}#}
{{ include('@YAdmin/_fragments/subviewsList.html.twig', {subviews: object.subviews}) }}