{% for view in subviews %}
    <hr class="short"/>
    <div class="clearfix">
        <h4 class="pull-left">{{ view.objectTitle }} <small>({{ view.name }})</small></h4>
        {% if adminContext.granted("ROLE_ROOT") %}
        <a href="{{ path('admin.dictionary.edit', {module: 'cms-page-views', id: view.id}) }}" class="pull-right btn btn-rounded btn-link btn-sm">edit view</a>
        {% endif %}
    </div>
    <br/>
    {{ include('@YAdmin/_fragments/attributedFormFields.html.twig', { attributes: view.attributes, attributesForm: view.attributesForm}) }}
{% endfor %}