{{ include("@YAdmin/_fragments/subviewsList.html.twig") }}
<select id="custom-view-select">
    {% for view in viewsSource %}
        <option value="{{ view.id }}">{{ view.objectTitle }}</option>
    {% endfor %}
</select>
{% if object.id %}
    <div class="btn btn-rounded btn-dark light btn-sm add-custom-view-handler">Add custom view</div>
    <script>
        $('.add-custom-view-handler').on('click', function () {
            $.post("{{ path('cms.addCustomView', {id: object.id}) }}", function (response) {

            });
        });
    </script>
{% endif %}
